In [1]:
%load_ext autoreload
%autoreload 2

# Search for Endpoint

In [2]:
from fenix_alpha_vantage_interface import alpha_data

In [3]:
ad = alpha_data.AlphaData()

In [4]:
ad.search_endpoint('IBM')

10 Results returned.

,symbol,name,type,region,marketOpen,marketClose,timezone,currency,matchScore
0,IBM,International Business Machines Corp,Equity,United States,09:30,16:00,UTC-04,USD,1.0000
1,IBMJ,iShares iBonds Dec 2021 Term Muni Bond ETF,ETF,United States,09:30,16:00,UTC-04,USD,0.8571
2,IBMK,iShares iBonds Dec 2022 Term Muni Bond ETF,ETF,United States,09:30,16:00,UTC-04,USD,0.8571
3,IBML,iShares iBonds Dec 2023 Term Muni Bond ETF,ETF,United States,09:30,16:00,UTC-04,USD,0.8571
4,IBMM,iShares iBonds Dec 2024 Term Muni Bond ETF,ETF,United States,09:30,16:00,UTC-04,USD,0.8571
5,IBMN,iShares iBonds Dec 2025 Term Muni Bond ETF,ETF,United States,09:30,16:00,UTC-04,USD,0.8571
6,IBMO,iShares iBonds Dec 2026 Term Muni Bond ETF,ETF,United States,09:30,16:00,UTC-04,USD,0.8571
7,IBM.FRK,International Business Machines Corporation,Equity,Frankfurt,08:00,20:00,UTC+02,EUR,0.7500
8,IBM.LON,International Business Machines Corporation,Equity,United Kingdom,08:00,16:30,UTC+01,USD,0.7500
9,IBM.DEX,International Business Machines Corporation,Equity,XETRA,08:00,20:00,UTC+02,EUR,0.6667

# Fundamentals Data

In [5]:
from fenix_alpha_vantage_interface.alpha_stock_fundamentals import AlphaStockFundamentals
fundamentals = AlphaStockFundamentals()

In [6]:
ibm_balance_sheet = fundamentals.df_balance_sheet(ticker='IBM')

INFO:root:Starting API Interface with Endpoint: BALANCE_SHEET
INFO:root:Beware! Not using VPN to call Alpha Vantage! This way, even when using different API keys they know who is sending the request! ;D

In [7]:
ibm_balance_sheet

,fiscalDateEnding,reportedCurrency,totalAssets,totalCurrentAssets,cashAndCashEquivalentsAtCarryingValue,cashAndShortTermInvestments,inventory,currentNetReceivables,totalNonCurrentAssets,propertyPlantEquipment,...,currentLongTermDebt,longTermDebtNoncurrent,shortLongTermDebtTotal,otherCurrentLiabilities,otherNonCurrentLiabilities,totalShareholderEquity,treasuryStock,retainedEarnings,commonStock,commonStockSharesOutstanding
0,2020-12-31,USD,155971000000,39165000000,13212000000,13812000000,1839000000,18738000000,114525000000,10040000000,...,7053000000,54355000000,68165000000,14190000000,14897000000,20597000000,169339000000,162717000000,56556000000,892653424
0,2021-03-31,USD,148629000000,34038000000,10531000000,11131000000,1828000000,16067000000,112465000000,9452000000,...,5162000000,51206000000,83548000000,15534000000,14489000000,21389000000,169360000000,162218000000,56788000000,893630916

# TimeSeries Data

In [8]:
from fenix_alpha_vantage_interface.alpha_stock_timeseries import AlphaStockTimeSeries
# Instance of class to use
timeseries = AlphaStockTimeSeries()

### df_time_series_intraday

In [9]:
ibm_intraday = timeseries.df_time_series_intraday(ticker='IBM', use_vpn=False)
ibm_intraday.head()

INFO:root:Starting API Interface with Endpoint: TIME_SERIES_INTRADAY
INFO:root:Beware! Not using VPN to call Alpha Vantage! This way, even when using different API keys they know who is sending the request! ;D
INFO:root:Optional intervals between the Data Points for this API are: ['1min', '5min', '15min', '30min', '60min']. If not set, uses standard value.

            timestamp      open      high       low     close  volume
0 2021-05-24 20:00:00  144.7200  144.7300  144.7200  144.7300     510
1 2021-05-24 17:00:00  144.7200  144.7200  144.7200  144.7200   49078
2 2021-05-24 16:00:00  145.1650  145.2700  144.7000  144.7300  664551
3 2021-05-24 15:00:00  145.1500  145.2500  145.0100  145.1700  313733
4 2021-05-24 14:00:00  144.7850  145.1700  144.6200  145.1400  334602

### df_time_series_intraday_extended

Careful with this one. It actually creates parallel requests to Alpha vantage

In [10]:
ibm_intraday = timeseries.df_time_series_intraday_extended(ticker='IBM', use_vpn=True, interval='60min')
ibm_intraday.head()

INFO:root:Starting API Interface with Endpoint: TIME_SERIES_INTRADAY_EXTENDED
INFO:root:Using VPN to call Alpha Vantage! Be aware that this is a 3rd party service which can malfunction sometimes due to connection timeout. If it does, try your command again.
INFO:root:Optional intervals between the Data Points for this API are: ['1min', '5min', '15min', '30min', '60min']. If not set, uses standard value.

                 time     open    high     low   close  volume
0 2021-05-24 20:00:00   144.72  144.73  144.72  144.73     510
1 2021-05-24 17:00:00   144.72  144.72  144.72  144.72   49078
2 2021-05-24 16:00:00  145.165  145.27   144.7  144.73  664551
3 2021-05-24 15:00:00   145.15  145.25  145.01  145.17  313733
4 2021-05-24 14:00:00  144.785  145.17  144.62  145.14  334602

### df_time_series_daily

In [11]:
ibm_daily = timeseries.df_time_series_daily(ticker='IBM', use_vpn=False, adjusted=True)
ibm_daily.head()

INFO:root:Starting API Interface with Endpoint: TIME_SERIES_DAILY_ADJUSTED
INFO:root:Beware! Not using VPN to call Alpha Vantage! This way, even when using different API keys they know who is sending the request! ;D

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,2021-05-25,144.92,145.0,143.2,143.79,143.79,3937067,0.0000,1.0
1,2021-05-24,145.06,145.39,144.18,144.72,144.72,3297570,0.0000,1.0
2,2021-05-21,144.28,145.699,144.28,144.74,144.74,4033482,0.0000,1.0
3,2021-05-20,143.12,144.91,142.16,143.88,143.88,4112690,0.0000,1.0
4,2021-05-19,142.32,143.2,140.92,143.19,143.19,4300732,0.0000,1.0

### df_time_series_weekly

In [12]:
ibm_weekly = timeseries.df_time_series_weekly(ticker='IBM', use_vpn=False, adjusted=True)
ibm_weekly.head()

INFO:root:Starting API Interface with Endpoint: TIME_SERIES_WEEKLY_ADJUSTED
INFO:root:Beware! Not using VPN to call Alpha Vantage! This way, even when using different API keys they know who is sending the request! ;D
ERROR:root:Well, apparently the call https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY_ADJUSTED&symbol=IBM&apikey=JVZZHF7WPEZFB40H&datatype=csv returned an empty Dataframe
ERROR:root:Could be a bug, but first please check your arguments and try again. If exceeded the number of API calls, try using VPN. Below is the returned information from Alpha vantage:
ERROR:root:{
    "Note": "Thank you for using Alpha Vantage! Our standard API call frequency is 5 calls per minute and 500 calls per day. Please visit https://www.alphavantage.co/premium/ if you would like to target a higher API call frequency."
}

ValueError:

### df_time_series_monthly

In [13]:
ibm_monthly = timeseries.df_time_series_monthly(ticker='IBM', use_vpn=False, adjusted=False)
ibm_monthly.head()

INFO:root:Starting API Interface with Endpoint: TIME_SERIES_MONTHLY
INFO:root:Beware! Not using VPN to call Alpha Vantage! This way, even when using different API keys they know who is sending the request! ;D

   timestamp      open      high       low     close     volume
0 2021-05-25  143.8100  148.5150  140.9200  143.7900   85410125
1 2021-04-30  133.7600  148.7400  130.3800  141.8800  122920494
2 2021-03-31  120.3500  137.0700  118.7550  133.2600  127967821
3 2021-02-26  119.9000  124.3500  118.1200  118.9300  106339228
4 2021-01-29  125.8500  132.2400  117.3600  119.1100  176168962